* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: #4f5d75;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.image {
  background-image: url("chime.gif");
  background-size: cover;
  background-position: center;
  width: 304px;
  height: 304px;
  border-radius: 50%;
  position: relative;
  background-color: rgb(99, 67, 26);
}

.image::before,
.image::after {
  --scale: 0;
  --arrow-size: 20px;
  --tooltip-color: #ffffff;

  position: absolute;
  top: -0.25rem;
  left: 50%;
  transform: translateX(-50%) translateY(var(--translate-y, 0))
    scale(var(--scale));
  transition: 150ms transform;
  transform-origin: bottom center;
}

.image::before {
  --translate-y: calc(-100% - var(--arrow-size));

  content: attr(data-tooltip);
  color: black;
  padding: 0.5rem;
  border-radius: 0.3rem;
  text-align: center;
  width: max-content;
  max-width: 100%;
  background: var(--tooltip-color);
}

.image:hover::before,
.image:hover::after {
  --scale: 1;
}

.image::after {
  --translate-y: calc(-1 * var(--arrow-size));

  content: "";
  border: var(--arrow-size) solid transparent;
  border-top-color: var(--tooltip-color);
  transform-origin: top center;
}
